services:
  speedscope-service:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "3000:3000"
    env_file: .env
    volumes:
      - "./db:/db:rw"
    environment:
      DATABASE_URL: "file:/db/database.db"
